footer{
		background-color:WHITE;
		height:30vh;
		display:flex;
		align-items:center;
		justify-content:space-evenly;
	}
	footer div a:hover{
	border-radius:50%;
	box-shadow:
		-5px 5px 10px,
		5px -5px 10px,
		5px 5px 10px,
		-5px -5px 10px;
}
	img{
	border-radius: 50%;