header{
    background-color:gray;
    display : flex;
    justify-content: space-between ;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;

}
body{
    margin: 0;
    background-image: url('gambar2.jpg');
  
}

ul{
    list-style-type: none;

}

a{
    text-decoration: none;

}
li{
    display: inline;
    margin-left:30px ;
}
h1{
    text-align: center;
}
section{
    background-color: white;
    padding: 30px;
    margin: 100px 100px 30px;
}
article{
    border-bottom: 3px solid black;
    margin-top: 10px;
}