
*{
	margin:0px;
	padding:0px;
}
#welcome-section{
	background-color:silver;
	display:flex;
	height:100px;
	width:100%;
	flex-direction:column;
	height:200vh;
	align-items:left;
	justify-content:center;
	}
	footer{
		background-color:#A7FFEB;
		height:20vh;
		display:flex;
		align-items:center;
		justify-content:space-evenly;
	}
	footer div a:hover{
	border-radius:50%;
	box-shadow:
		-5px 5px 10px,
		5px -5px 10px,
		5px 5px 10px,
		-5px -5px 10px;
}
	img{
	border-radius: 50%;